.tile {
    width: 16px;
    height: 16px;
    float: left;
    background-image: url("../images/clear.png");
}

.hidden {
    background-image: url("../images/hidden.png");
}

.flag {
    background-image: url("../images/flag.png");
}

.mine {
    background-image: url("../images/mine.png");
}
.mine_hit {
    background-image: url("../images/mine_hit.png");
}
.mine_marked {
    background-image: url("../images/mine_marked.png");
}

.tile_1 {
    background-image: url("../images/tile_1.png");
}
.tile_2 {
    background-image: url("../images/tile_2.png");
}
.tile_3 {
    background-image: url("../images/tile_3.png");
}
.tile_4 {
    background-image: url("../images/tile_4.png");
}
.tile_5 {
    background-image: url("../images/tile_5.png");
}
.tile_6 {
    background-image: url("../images/tile_6.png");
}
.tile_7 {
    background-image: url("../images/tile_7.png");
}
.tile_8 {
    background-image: url("../images/tile_8.png");
}

.smiley {
    margin:auto;
    width: 26px;
    height: 26px;
    background-image: url("../images/face_up.png");
}

.face_down {
    background-image: url("../images/face_down.png");
}
.face_limbo {
    background-image: url("../images/face_limbo.png");
}
.face_lose {
    background-image: url("../images/face_lose.png");
}
.face_win {
    background-image: url("../images/face_win.png");
}

h1 {
    text-align: center;
    font-family:"Arcade Font";
    color: #D8D7DF;
    margin: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  font-family: "Arcade Font";
  font-size: 13px;
}
strong {
  color:blue;
}

div {
    margin:auto;
    text-align: center;
}

.game_wrapper {
    display: inline-block;
    background: url(../images/stones.jpg);
    padding: 10px;
    border: 5px solid #262722;
    border-radius: 25px;
}

.game{
    background: #BDBDBD;
    display: inline-block;
    border: 2px solid black;
}

.minefield {
    border: 2px solid black;
    margin: 5px;
}

.minefield:empty {
    display:none;
}

@font-face {
    font-family: "Arcade Font";
    src: url(../fonts/emulogic.ttf) format("truetype");
}

.game_stats {
    width:100%;
}

.menu-button {
 font-family:"Arcade Font";
 font-size: 10px;
 color:#FFFFFF;
background-color: #BDBDBD;
}

.menu-button:hover{
 color:#000000;
 background-color:#FFFFFF;
}

.menu-title{
  text-align: center;
  font-family:"Arcade Font";
  margin: 10px;
  color: black;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  width:100%;
}

.icon {
  margin:20px;
}

.notification {
  font-family: "Arcade Font";
  color: #D8D7DF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}